@import "../../Styles/color";
.Social-div {
  .Social-div__container {
    color: white;
    display: flex;
    flex-direction: column;
    gap: torem(70px);
    position: relative;
    z-index: 200;
    color: ye;
  }
}
