.Folder-div {
  height: 30px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 10px;
  box-sizing: border-box;
  font-family: roboto;
  font-size: 14px;
  &:hover {
    background-color: gray;
  }
}
