@import "../../../../Styles/color";
.Folder-div {
  height: torem(30px);
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  gap: torem(10px);
  padding: torem(20px) torem(10px);
  box-sizing: border-box;
  font-family: roboto;
  font-size: torem(14px);
  &:hover {
    background-color: gray;
  }
}
