@import "../../../../Styles/color";
.TopLogo-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px torem(7px);
  font-size: torem(13px);
  font-family: roboto;
  height: torem(40px);
  font-weight: 600;
  position: sticky;
  top: 0;
  background-color: #202124;
  border-bottom: torem(2px) solid #000;
  i {
    font-size: torem(20px);
  }
}
