@import "../../Styles/color";
.Form-div {
}
.Form-div__container {
  display: flex;
  flex-direction: column;
  gap: torem(30px);
  color: white;
  position: relative;
  z-index: 200;
  span {
    outline: none;
  }
}
